section.features
    h2 Features
    .time
        span
        span
    .row
        .features-item
            img(src="./img/item1.png", alt="")
            p Born Identity: Bringing Burton Hardgoods to Life
        .features-item
            img(src="./img/item2.png", alt="")
            p Jeremy Jones: On That Street Grind
        .features-item
            img(src="./img/item3.png", alt="")
            p Burton’s Tokyo Rail Days Recap
        .features-item
            img(src="./img/item4.png", alt="")
            p Burton’s Tokyo Rail Days Preview