footer
    .row
        .footer-col
            h2 products
            a(href="") Mens
            a(href="") Womens
            a(href="") Youth
        .footer-col
            h2 about
            a(href="") Careers and Internships
            a(href="") Sponsorships
            a(href="") team
            a(href="") Catalog Request/Download
        .footer-col
            h2 customer suport
            a(href="") Contact Us
            a(href="") Shipping and Order Tracking
            a(href="") Easy Returns
            a(href="") Warranty
            a(href="") Replacement Binding Parts
        .footer-col
            h2 newsletter
            form(action="")
                input(type="text" value="Enter your email")
                button go
            .social
                i.fab.fa-facebook-f
                i.fab.fa-twitter
                i.fab.fa-instagram
                i.fab.fa-pinterest-p
                i.fab.fa-youtube
    .row
        p © 2014 Mountains Snowboards
        p Change Region
