header
    .row
        .menu
            .logo
                img(src="./assets/img/logo.png", alt="logo")
            .nav_wrap
                .nav_link 
                    a(href="/shop/") shop
                .nav_link 
                    a(href="/team/") team
                .nav_link 
                    a(href="/events/") events
                .nav_link 
                    a(href="/experiens/") experiens
                .nav_link 
                    a(href="/company/") company
                .nav_link 
                    a(href="/contact/") contact
        .tools
            i.fas.fa-search
            i.fas.fa-lock
            span €0
            .mobile
                i.fas.fa-bars
    