section.slider
    .row
        .slider-item
            .text-wrap
                p Run Over 
                p Everything
                button see details
        .slider-item
            .text-wrap
                p Run Over 
                p Everything
                button see details