section.slider
    .row
        .slider_item
            .text_wrap
                p Run Over 
                p Everything
                button see details
        .slider_item
            .text_wrap
                p Run Over 
                p Everything
                button see details