section.snowboards
    h2 snowboards
    p Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est
    .time
        span
        span
    .button-wrap
        #next
            img(src="./img/next.svg", alt="")
        #prev
            img(src="./img/prev.svg", alt="")
    .row
        .wrap
            .snowboards-item
                img(src="./img/board1.png", alt="")
            .snowboards-item.active
                img(src="./img/board2.png", alt="")
            .snowboards-item
                img(src="./img/board3.png", alt="")

    h3 Snowboard extreme Series