section.snowboards
    h2 snowboards
    p Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est
    .time
        span
        span
    .row
        #next
            i.fas.fa-chevron-right
        #prev
            i.fas.fa-chevron-left
        .wrap
            .snowboards-item
                img(src="./img/board1.png", alt="")
            .snowboards-item.active
                img(src="./img/board2.png", alt="")
            .snowboards-item
                img(src="./img/board3.png", alt="")

    p Snowboard extreme Series