section.snowboards
    h2 snowboards
    p Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est
    .time
        span
        span
    .button_wrap
        #next
            img(src="./assets/img/next.svg", alt="")
        #prev
            img(src="./assets/img/prev.svg", alt="")
    .row
        .wrap
            .snowboards_item
                img(src="./assets/img/board1.png", alt="")
            .snowboards_item.active
                img(src="./assets/img/board2.png", alt="")
            .snowboards_item
                img(src="./assets/img/board3.png", alt="")

    h3 Snowboard extreme Series