.company
    background: url(../img/company-bg.png) no-repeat
    background-position: center
    width: 100%
    color: #ffffff
    padding: 250px 15px
    @media (max-width: 770px)
        background-size: cover
        background-position: right bottom
        padding: 120px 15px
    .row
        max-width 960px
        height 100%
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        padding: 15px 0
        h2
            font-size: 48px
            margin: 0
            text-transform: uppercase
            &:nth-child(2)
                margin-bottom: 50px
        p
            max-width: 600px
            font-size: 15px
            line-height: 30px
            @media (max-width:770px)
                max-width: 350px
            &:nth-child(6)
                @media(max-width: 770px)
                    display: none
