footer
    background: $color1
    width 100%
    padding: 0 15px 65px
    @media (max-width:770px)
        padding: 73px 30px
    @media (max-width:640px)
        padding: 15px 15px 40px
    .row
        max-width 960px
        margin: 0 auto
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        color: $color2
        .footer_col
            display: flex
            flex-direction: column
            width: 220px
            h2
                text-transform: uppercase
                color:$color2
                font-size: 17px
                padding: 50px 0 20px
                @media (max-width:770px)
                    width: 100%
                    padding: 0 0 25px 0
                @media (max-width:640px)
                    padding: 15px 0 
            a
                color: $color3
                text-decoration: none
                padding: 10px 0
                font-size: 14px
                &:hover
                    color: $color4
            &:nth-child(1)
                @media (max-width:640px)
                    width: 40%
                    padding: 5px 0
            &:nth-child(2)
                @media (max-width:640px)
                    width: 50%
                    padding: 5px 0
            &:nth-child(3)
                @media (max-width:640px)
                    width: 100%
                    flex-direction: row
                    flex-wrap: wrap
                a
                   @media (max-width:640px)
                       width: 40%
                    &:nth-child(3)
                        width: 60%
                    &:last-child
                        @media (max-width:640px)
                            width: 100%
            .form_wrap
                form
                    display: flex
                    width: 220px;
                    input
                        width: 100%
                        padding: 10px
                        font-size: 14px;
                        color: $color3
                        border-radius: 0
                    button
                        background: $color3
                        border: none
                        text-transform: uppercase
                        padding: 10px 20px
                        font-size: 18px
                    @media (max-width:640px)
                        width: auto
                @media (max-width: 770px)
                    width: 50%
                @media (max-width:640px)
                    width: 100%
            .social
                display: flex
                width: 100%
                justify-content: space-between
                align-items: center
                padding: 80px 0
                font-size: 22px
                i
                    transition: 0.5s
                    cursor: pointer
                    &:hover
                        transform: rotateZ(45deg)
                        color: $color4
                @media (max-width: 770px)
                    width: 40%
                    padding: 0
                @media (max-width:640px)
                    width: 100%
                    padding: 20px 30px
            &:nth-child(4)
                @media (max-width:770px)
                    width: 70%
                    flex-direction: row
                    flex-wrap: wrap
                @media (max-width:640px)
                    width: 100%
        .region
            display: flex
            justify-content: space-between
            width: 100%
            select
                background: none
                border: none 
                border-radius: 0
                font-size: 0.7rem
                width: 74px
                height: 20px
                color: $color2
                background-size: cover
                margin-right: 10px
                option
                    width: 30px
                    height: 20px
            @media (max-width:770px)
                width: 30%
                flex-direction: column
                justify-content: flex-end
                text-align: right
            @media (max-width:640px)
                width: 100%
                text-align: center
            p
                @media (max-width: 770px)
                    &:nth-child(2)
                        order: -1
                        padding-bottom: 10px

