.snowboards
    width: 100%
    height 100%
    text-align: center
    padding: 100px 0
    h2
        text-transform: uppercase
        font-size: 48px
    p
        font-size: 14px
        text-transform: uppercase
        &:nth-child(5)
            font-size: 24px
    .time
        position relative
        padding: 30px 0
        display: flex;
        justify-content: center;
        span
            position: absolute
            content: ''
            background: #000000
            padding: 1px 20px
            display: inline-block
            transform: rotateZ(-45deg)
            &:nth-child(2)
                transform: rotateZ(45deg)
    .row
        position relative
        max-width 1200px
        height 500px
        padding: 50px 0
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        color: #bfbfbf
        overflow: hidden
        #next
            position: absolute
            right: 0
            font-size: 180px
            cursor: pointer
            z-index: 10
        #prev
            position: absolute
            left: 0
            font-size: 180px
            cursor: pointer
            z-index: 10
        .wrap
            position: absolute
            left: 0
            display: flex
            align-items: center
            transition: 0.5s
            .snowboards-item
                width 200px
                padding: 0 100px
                opacity: 0.5
                transition: 1s all
            .active
                opacity: 1