@import "fonts.styl"
$font = "Myriad"
body
    margin: 0
    padding: 0
    box-sizing: border-box
    width: 100%
    font-family: $font
    .main
        @import "header.styl"
        @import "slider.styl"
        @import "company.styl"

