@import "fonts.styl"
$font = "Myriad"
body
    margin: 0
    padding: 0
    box-sizing: border-box
    overflow: hidden
    width: 100%
    .main
        @import "header.styl"
        @import "slider.styl"

