@import "fonts.styl"
$font = "Myriad"
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font
    font-weight: 300
.main
    overflow hidden
    @import "header.styl"
    @import "slider.styl"
    @import "snowboards.styl"
    @import "company.styl"
    @import "features.styl"
    @import "footer.styl"

