<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sharlott
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(rel="stylesheet", href="./assets/css/style.css")
    body
        .main
            include templates/header.pug
            include templates/slider.pug
            include templates/snowboards.pug
            include templates/company.pug
            include templates/features.pug
            include templates/footer.pug
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="./assets/js/app.js")